<div class="container"  >
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <div>
                <form (ngSubmit)="createTask()" [formGroup]="form"  [hidden]="success">
                    <div class="form-group">

                        <label for="id">Name</label>
                        <input formControlName="name" type="text" class="form-control" id="name" placeholder="Enter name">
                        <div *ngIf="name && name.invalid && name.touched" class="invalid-feedback">
                            Please choose a name.
                        </div>

                        <label for="id">Description</label>
                        <input formControlName="description" type="text" class="form-control" id="description" placeholder="Enter Description">
                        <div *ngIf="description && description.invalid && description.touched" class="invalid-feedback">
                            Please enter a description.
                        </div>

                        <label for="id">Done?</label>
                        <input formControlName="done" type="checkbox" class="form-control" id="done" >
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Create task</button>
                </form>

                <div *ngIf="success" class="successNotification">
                    Task created!
                </div>
            </div>
        </div>
    </div>
</div>